@media (max-width: 1260px) {
    .info__item {

        padding: 30px;
    }

    .info__title{
        font-size: 16px;
    }

    .info__text {

        font-size: 14px;
    }
}

@media (max-width: 1080px ) {

.info__title{

    letter-spacing: unset;
}

.about__block {

    padding-right: 30px;
}

.services__content {

    height: 400px;
}
}

@media(max-width: 990px) {



.header__item {

    margin-right: 50px;
}



.section {
    margin-bottom: 30px;
}

.header__logo img {

    height: 55px;
}

.intro__block{

    text-align: center;
}
.intro__content{

    height: 530px;
    justify-content: center ;
}

.intro__title{

    font-size: 34px;
    
    
}
.info__item {

    padding: 20px;
}
.services__content {

    height: 300px;
   
}

.services__content-item{

    display: none;
}

.about {

    padding: 30px 0;
}
.about__wrapper {
    flex-direction: column;
}

.about__block{

    padding-right: 0;
    margin-bottom: 20px;
}
.about__img {
    height: auto;
    max-width: 100%;
}
.process__title {
    font-size: 100px;

}

}

@media (max-width: 850px) {

    .info {

        transform: translateY(-75px);
    }

    .wrapper {

        flex-wrap: wrap;
    }

    .block {
        width: 100%;
        margin-bottom: 20px;
    }

    .block__title {

        text-align: center;
    }

    .info__item {

        text-align: center;
    }

    .services__content {

        height: 450px;
        background-position: center;
    }

    .header_item{

        margin-right: 45px;
    }

    .services__title {

       
        
    }



    .process__title {
        font-size: 100px;
        margin-bottom: 10px;
    }
    .section.process {
        padding-top: 0;
    }

    .contacts__form {
        margin: 0 auto;
    }

    .process__subtitle {
        margin-bottom: 30px;

    }

    .process__item {
        text-align: center;
        min-height: auto;
        padding: 20px 0 12px;

    }

@media (max-width: 767px) {

    .header_burger {
        display: block;
    }
    .header_nav {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background-color: black;
        z-index: 10;
        padding: 75px;
        transform: translateX(100%);
        transition: .2s all linear;
    }
    .header_nav_active {
        transform: translateX(0);
    
    }
    .header_item {
        width: 100%;
        margin-right: 0;
        margin-bottom: 30px;
    }

    .header_item:last-child {
    
        margin-bottom: 0;
    }
    .header_link {
        font-size: 35px;
        line-height: 48px;
    }
    .header_nav_close{
        width: 40px;
        height: 40px;
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 11;
    }

    .header_nav-close-line{
        display: block;
        width: 100%;
        height: 2px;
        background-color: #ff0000;
        position: absolute;
        top: 50%;
    
    }
    .header_nav-close-line:first-child{

        transform: translateY(-50%) rotate(45deg);
    }
    .header_nav-close-line:last-child {
    
        transform: translateY(-50%) rotate(-45deg);
    }

    .nav__link {

        color: #ff0000;
    }

    .header__block {

        text-align: center;
       
    }

    .header__logo-link {


    }

    .header__lng {

        display: none ;

    }      

    }

@media (max-width: 767px) {

    .intro__title {
        font-size: 25px;
    }

    .block__link {

        margin-bottom: 25px;
    }

    .services__content {
        height: 380px;

    }

    .process__title {
        font-size: 88px;
    }

    .process__subtitle {
        font-size: 30px;
    }
}
@media (max-width: 430px) {

    body {
        font-size: 10px;
    }
    .header__logo-link img {
        height: 54px;
    }

    .services__content {
        height: 260px;
    }
    .block__title {

        font-size: 24px;
    }

    .process__title {
        font-size: 75px;
    }

    .process__subtitle {
        font-size: 26px;
    }
    .info__item {
        padding: 14px;
    }

    .info__title {
        font-size: 14px;
    }

    .info__text {
        font-size: 12px;
    }

    .contacts {
        padding: 50px 10px;
        text-align: center;
    }

    .btn {
        min-width: 265px;
    }

    .footer__wrapper {
        height: 100px;
    }
}
}
